<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linear Algebra Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="../static/script.js"></script>

</head>
<body>
    <div id="allContents" class="container h-100">
        <br>

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#basic">Basic</a></li>
            <li><a data-toggle="tab" href="#factorization">Factorization</a></li>
            <li><a data-toggle="tab" href="#orthogonality">Orthogonality</a></li>
            <li><a data-toggle="tab" href="#miscellaneous">Miscellaneous</a></li>
        </ul>

        <div class="tab-content">
            <div id="basic" class="tab-pane fade in active">
                <h3>Basic matrix functions: </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" onclick="changeFunction('Row Echelon Form');">
                        <input type="radio" name="options" id="ref" autocomplete="off" checked> Row Echelon Form
                    </label>
                    <label class="btn btn-secondary" onclick="changeFunction('Row Reduced Echelon Form');">
                        <input type="radio" name="options" id="rref" autocomplete="off" checked> Row Reduced Echelon Form
                    </label>
                    <label class="btn btn-secondary" onclick="changeFunction('Matrix Multiplication');">
                        <input type="radio" name="options" id="matrixmultiplication" autocomplete="off" checked> Matrix Multiplication
                    </label>
                </div>
            </div>
            <div id="factorization" class="tab-pane fade">
                <h3>Factorization functions: </h3>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" onclick="changeFunction('LU Factorization');">
                        <input type="radio" name="options" id="LU Factorization" autocomplete="off" checked> LU Factorization
                    </label>
                    <label class="btn btn-secondary" onclick="changeFunction('QR Factorization');">
                        <input type="radio" name="options" id="QR Factorization" autocomplete="off"> QR Factorization
                    </label>
                </div>
            </div>
            <div id="orthogonality" class="tab-pane fade">
                <h3>Orthogonality</h3>
                <p>Some content in menu 2.</p>
            </div>
            <div id="miscellaneous" class="tab-pane fade">
                <h3>Orthogonality</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>

        <br>
        <div class="row">
            <h4 id="selectionText">Selected: Row Echelon Form</h4>
        </div>

        <div class="row">
            <br>
            <center>Please input your matrix size below:</center>
            <br>
        </div>

        <div id="createMatrix">
            <div class="row">
                <div class="form-group col-md-offset-5 col-md-1">
                    <label for="matrixRowsSelect">Rows</label>
                    <select class="form-control" id="matrixRowsSelect">
                        <option>1</option>
                        <option>2</option>
                        <option selected="selected">3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="matrixColsSelect">Columns</label>
                    <select class="form-control" id="matrixColsSelect">
                        <option>1</option>
                        <option>2</option>
                        <option selected="selected">3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary col-md-offset-5 col-sm-2" onclick="createMatrix()">Go</button>
            </div>
            <div class="row">
                <center>
                <div id="matrix"></div>
                </center>
                <br>
            </div>
            <div class="row" id="calculateButton">
                <button class="btn btn-primary col-md-offset-5 col-sm-2" id="calculate" onclick="calculate()">Calculate!</button>
            </div>
            <div class="row" id="results"></div>
        </div>

    </div>
<footer>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
</body>
</html>